{% extends 'base.html' %}

<!--  -->
{% block content %}
<div class="container">
    <div class="top">
        <img class="avatar" src="https://images.pexels.com/photos/3727662/pexels-photo-3727662.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
        <div class="text">
            <h5>Angela</h5>
            <p> Some text holder for what someone would have as bio info</p>
            <button>Edit profile</button>
            <button>Log out</button>
        </div>
    </div>

    <div class="row">

    </div>
</div>
{% endblock %}